<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="./images/logo.png" class="bi me-2" width="260" height="52" alt="Samsø Kommune"/>
    </a>
  
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#/" class="nav-link nav-home" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#/candidate" class="nav-link nav-candidate">Add Candidate</a></li>
      <li class="nav-item"><a href="#/votes" class="nav-link nav-votes">Votes</a></li>
    </ul>
  </header>